<tpl tpl-foreach="$errors as $error">
    <p class="error-message" id="error-block">{{ $error }}</p>
</tpl>

<form action="../api/index.php?cmd=author_list" class="form-grid" method="post">
    <input type="hidden" name="authorFormCmd" value="{{ $authorFormCmd }}">
    <input type="hidden" name="authorId" value="{{ $cachedAuthor->id }}">

    <label for="first-name">Eesnimi:</label>
    <input type="text" id="first-name" name="firstName" value="{{ $cachedAuthor->firstName }}">
    <label for="last-name">Perekonnanimi:</label>
    <input type="text" id="last-name" name="lastName" value="{{ $cachedAuthor->lastName }}">

    Hinne:
    <div>
        <tpl tpl-foreach="range(1, 5) as $rating">
            <input type="radio"
                   name="grade"
                   value="{{ $rating }}"
                   id="{{ $rating }}"
                   tpl-checked="$rating === $cachedAuthor->rating">
            <label for="{{ $rating }}">{{ $rating }}</label>
        </tpl>
    </div>

    <input class="form-grid-button" type="submit" name="deleteButton" value="Eemalda"
           tpl-if="$authorFormCmd === 'update'">
    <input class="form-grid-button" type="submit" name="submitButton" value="Salvesta">
</form>