<tpl tpl-if="isset($successMessage)">
    <p class="success-message" id="message-block">{{ $successMessage }}</p>
</tpl>

<div class="table-grid">
    <div class="table-grid-header">Eesnimi</div>
    <div class="table-grid-header">Perekonnanimi</div>
    <div class="table-grid-header table-grid-centered-item">Hinne</div>

    <tpl tpl-foreach="$authors as $author">

        <div class="table-grid-item"><a href="?cmd=author_form&authorId={{ $author->id }}">{{ $author->firstName }}</a></div>
        <div class="table-grid-item">{{ $author->lastName }}</div>
        <div class="table-grid-centered-item">{{ $author->rating }}</div>

    </tpl>
</div>
