<tpl tpl-if="isset($successMessage)">
    <p class="success-message" id="message-block">{{ $successMessage }}</p>
</tpl>

<div class="table-grid">
    <div class="table-grid-header">Pealkiri</div>
    <div class="table-grid-header">Autorid</div>
    <div class="table-grid-header table-grid-centered-item">Hinne</div>

    <tpl tpl-foreach="$books as $book">

        <div class="table-grid-item"><a href="?cmd=book_form&bookId={{ $book->id }}">{{ $book->title }}</a></div>
        <div class="table-grid-item">{{ $book->getAllAuthorsAsString() }}</div>
        <div class="table-grid-centered-item">{{ $book->grade }}</div>

    </tpl>

</div>
