<tpl tpl-foreach="$errors as $error">
    <p class="error-message" id="error-block">{{ $error }}</p>
</tpl>

<form action="../api/index.php?cmd=book_list" class="form-grid" method="post">
    <input type="hidden" name="bookFormCmd" value="{{ $bookFormCmd }}">
    <input type="hidden" name="bookId" value="{{ $cachedBook->id }}">

    <label for="book-title">Pealkiri:</label>
    <input type="text" name="title" id="book-title" value="{{ $cachedBook->title }}">

    <label for="author1">Autor 1:</label>
    <select id="author1" name="author1">

        <tpl tpl-if="$cachedBook->authors[0]">
            <option value="{{$cachedBook->authors[0]->getAuthorDataAsCsv()}}">
                <tpl>{{ $cachedBook->authors[0]->toString() }}</tpl>
            </option>
        </tpl>

        <tpl tpl-if="!$cachedBook->authors[0]">
            <option></option>
        </tpl>

        <tpl tpl-foreach="$authors as $author">
            <option value='{{ $author->getAuthorDataAsCsv() }}'>{{ $author->toString() }}</option>
        </tpl>

    </select>

    <label for="author2">Autor 2:</label>
    <select id="author2" name="author2">

        <tpl tpl-if="$cachedBook->authors[1]">
            <option value="{{$cachedBook->authors[1]->getAuthorDataAsCsv()}}">
                <tpl>{{ $cachedBook->authors[1]->toString() }}</tpl>
            </option>
        </tpl>

        <tpl tpl-if="!$cachedBook->authors[0]">
            <option></option>
        </tpl>

        <tpl tpl-foreach="$authors as $author">
            <option value='{{ $author->getAuthorDataAsCsv() }}'>{{ $author->toString() }}</option>
        </tpl>

    </select>

    Hinne:
    <div>
        <tpl tpl-foreach="range(1, 5) as $rating">

            <input type="radio"
                   name="grade"
                   value="{{ $rating }}"
                   id="{{ $rating }}"
                   tpl-checked="$rating === $cachedBook->grade">
            <label for="{{ $rating }}">{{ $rating }}</label>

        </tpl>
    </div>

    <label for="read">Loetud:</label>
    <input type="checkbox" name="isRead" id="read" tpl-checked="$cachedBook->isRead">

    <input class="form-grid-button" type="submit" name="deleteButton" value="Eemalda"
           tpl-if="$bookFormCmd === 'update'">
    <input class="form-grid-button" type="submit" name="submitButton" value="Salvesta">
</form>
