html {
    height: 100%;
    background: rgb(246,205,97);
    background: linear-gradient(180deg, rgba(246,205,97,0.7399334733893557) 16%, rgba(255,255,255,0) 54%);
    background-repeat: no-repeat;
}

a {
    color: black;
}

a:visited {
    color: #590000;
}

.success-message {
    font-family: Verdana sans-serif;
    font-size: 20px;
    color: black;
    background-color: rgba(118, 242, 73, 0.20);
    border: solid 2px green;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0;
}

.error-message {
    font-family: Verdana sans-serif;
    font-size: 20px;
    color: black;
    background-color: rgba(242, 84, 73, 0.8);
    border: solid 2px #590000;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0;
}

.bar-div {
    width: 100%;
    text-align: center;
}

.bar-content-wrap {
    width: 40%;
    margin: 25px auto;
    border-radius: 25px;
    padding: 20px;
    background-color: rgba(63, 92, 155, 0.67);
    font-family: Verdana sans-serif;
    font-size: 22px;
}

.footer-alignment {
    position: relative;
    bottom: 0;
    left: 0;
}

.body-div {
    margin: auto;
    width: 40%;
}

.table-grid {
    display: grid;
    grid-template-columns: 40% 40% 20%;
    grid-auto-rows: minmax(20px, auto);
    grid-row-gap: 5px;
    font-family: Verdana sans-serif;
    font-size: 18px;
}

.table-grid-header {
    border-bottom: solid 3px black;
    font-weight: bold;
}

.table-grid-item {}

.table-grid-centered-item {
    text-align: center;
}

.form-grid {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-auto-rows: minmax(20px, auto);
    grid-row-gap: 7px;
    font-family: Verdana sans-serif;
    font-size: 18px;
}

.form-grid-button {
    width: 20%;
    grid-column: 1 / -1;
    justify-self: end;
    border: solid 2px rgb(63, 92, 155);
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 19px;
    transition-duration: 0.4s;
}

.form-grid-button:hover {
    background-color: rgb(63, 92, 155);
    color: white;
    cursor: pointer;
}

.form-grid-button-container {
    width: 100%;
}
